<div class="container register">
  <div class="row">
    <div class="col-md-3 register-left">
      <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
      <h3>Welcome</h3>
      <p>Knowldge Make A Generation</p>
    </div>
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <form [formGroup]="registerForm" (ngSubmit)="Registration()" novalidate >
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="register-heading">Register</h3>
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="RegisterData.first_name" name = "first_name" formControlName="first_name" placeholder="First Name *" value="" />
                  <app-validation [control]="registerForm.controls.first_name"></app-validation>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="RegisterData.last_name" name = "last_name" formControlName="last_name" placeholder="Last Name *" value="" />
                  <app-validation [control]="registerForm.controls.last_name"></app-validation>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="RegisterData.password" name = "password" formControlName="password" placeholder="Password *" value="" />
                  <app-validation [control]="registerForm.controls.password"></app-validation>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="RegisterData.confirm_password" name = "confirm_password" formControlName="confirm_password" placeholder="Confirm Password *" value="" />
                  <app-validation [control]="registerForm.controls.confirm_password"></app-validation>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control" [(ngModel)]="RegisterData.email" name = "email" formControlName="email" placeholder="Your Email *" value="" />
                  <app-validation [control]="registerForm.controls.email"></app-validation>
                </div>
                <div class="form-group">
                  <input type="text" minlength="10" maxlength="10" [(ngModel)]="RegisterData.phone_number" name="phone_number" formControlName="phone_number" class="form-control" placeholder="Your Phone *" value="" />
                  <app-validation [control]="registerForm.controls.phone_number"></app-validation>
                </div>
                <button type="submit" [disabled]="!registerForm.valid" class="btnRegister"  value="Register">Register</button>
              </div>
            </div>
          </div>
        </form>
      </div>
  </div>

</div>
